.container {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  background-color: #f4f4f4;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  width: 365px;
  margin: 7px;
  border-radius: 8px;
}
